#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


body {
    transition: background-color 2s ease, color 2s ease;
}

    /* Light theme */
    body.light {
        --bg: #ffffff;
        --text: #222222;
    }

    /* Dark theme */
    body.dark {
        --bg: #121212;
        --text: #eeeeee;
    }

body {
    background-color: var(--bg);
    color: var(--text);
}


